<a href="https://colab.research.google.com/github/RadovanovicSasha/ml_product_reviews_project/blob/main/product_reviews_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/RadovanovicSasha/ml_product_reviews_project/main/data/product_reviews_sample.csv"
df = pd.read_csv(url)

print(df.shape)
df.head()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_uuid    6000 non-null   object
 1   product_name   6000 non-null   object
 2   product_price  5575 non-null   float64
 3   review_title   6000 non-null   object
 4   review_text    6000 non-null   object
 5   sentiment      5814 non-null   object
dtypes: float64(1), object(5)
memory usage: 281.4+ KB

In [4]:
df['sentiment'].value_counts(dropna=False)

sentiment
positive    2999
negative    1180
Positive     736
Negative     422
neutral      359
NaN          186
Neutral      118
Name: count, dtype: int64

In [5]:
# 1) izbaci NaN u sentimentu
df_clean = df.dropna(subset=['sentiment'])

# 2) sve pretvori u mala slova
df_clean['sentiment'] = df_clean['sentiment'].str.lower()

df_clean['sentiment'].value_counts()

/tmp/ipython-input-1737525566.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['sentiment'] = df_clean['sentiment'].str.lower()

sentiment
positive    3735
negative    1602
neutral      477
Name: count, dtype: int64

In [6]:
# zadr≈æi samo positive i negative
df_binary = df_clean[df_clean['sentiment'].isin(['positive', 'negative'])]

df_binary['sentiment'].value_counts()

sentiment
positive    3735
negative    1602
Name: count, dtype: int64